.app-pay {
  display: flex;

  justify-content: space-between
}

.app-payment-form {
  margin-top: 20px;

  .app-payment-form__errors {
    :nth-child(1) {
      color: red;
    }
  }

  .app-payment-form__inputs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .app-payment-form__inputs__group {
      width: 50%;
      input {
        width: 80%;
      }
      input[type="checkbox"] {
        width: 20px;
      }
    }
  }
  button{
    margin-top: 20px;
  }
}